@import "tailwindcss";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.sec1 {
  background: rgba(0, 0, 0, 0.7) url("/images/img2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-position: center;
}

.sec4 {
  background: rgba(0, 0, 0, 0.7) url("/images/img10.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-position: center;
}
